body {
  background-color: rgb(94, 53, 78);
}
#board {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 0px;
  height: 0px;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.cell {
  background-color: rgb(97, 54, 91);
  border: 1px solid rgb(255, 255, 255);

  width: 100px;
  height: 100px;
  text-align: center;
  margin: auto;
  font-size: 5em;
  color: white;
}

#winner {
  width: 373px;
  height: 80px;
  padding-bottom: 10px;
  margin: auto;
}

h1 {
  margin: auto;
  text-align: center;
  color: rgb(239, 220, 255);
}
#btn {
  margin-top: 10px;
  margin-left: 150px;
}
