body {
  background-color: rgb(94, 53, 78);
}
#board {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 0px;
  height: 0px;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.cell {
  background-color: #61365b;
  border: 1.5px solid rgb(206, 206, 206);
  font-family: "Open Sans", sans-serif;
  width: 100px;
  height: 100px;
  text-align: center;
  margin: auto;
  font-size: 4em;
  color: white;
}

#winner {
  width: 373px;
  height: 100px;
  padding-bottom: 10px;
  margin: auto;
}

h1 {
  margin: auto;
  text-align: center;
  color: #bdca68;
  font-family: "Jomhuria", cursive;
  font-size: 6em;
}
.button {
  margin-top: 10px;

  width: 150px;
  background-color: #5b6136;
  height: 30px;
  color: white;
  border-radius: 20px;
}
#buttons {
  display: grid;
  grid-template-columns: auto auto;
  text-align: center;
  width: 10px;
  margin: auto;
  align-items: center;
  justify-content: center;
}
#buttons2 {
  display: grid;
  grid-template-columns: auto;
  text-align: center;

  margin: auto;
  align-items: center;
  justify-content: center;
}

.hovered {
  background-color: #5b6136;
  border: 1.5px solid rgb(255, 255, 255);
  font-family: "Open Sans", sans-serif;
  width: 100px;
  height: 100px;
  text-align: center;
  margin: auto;
  font-size: 4em;
  color: white;
}
.winner {
  background-color: #bb1212;
  border: 1.5px solid rgb(255, 255, 255);
  font-family: "Open Sans", sans-serif;
  width: 100px;
  height: 100px;
  text-align: center;
  margin: auto;
  font-size: 4em;
  color: rgb(255, 255, 255);
}
